:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #242424;
	background-color: white;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 650px;
	margin: 0 auto;
	padding: 2rem;
}

p:focus-visible {
	outline: none;
}

p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}